################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroAlmacen/FileContentIndex/5a567230-711a-4173-8520-21f71d0c2f82.vsidx
/.vs/MicroAlmacen/FileContentIndex/3a789dc7-5a60-4908-ae0a-27cdd6e7a1f6.vsidx
/.vs/MicroAlmacen/FileContentIndex/6f16382a-36fe-485e-aaf7-d12328b4d339.vsidx
/.vs/MicroAlmacen/FileContentIndex/c6443249-dc7c-4385-b470-5099c3a26e46.vsidx
/.vs/MicroAlmacen/FileContentIndex/e1634648-7757-45ee-8316-2f6394190205.vsidx
